<p id="notice"><%= notice %></p>

<h1>Listing Ingredients</h1>

<%= render "ingredients/ingredients_list", :ingredients => @ingredients %>

<%= link_to 'New Ingredient', new_recipe_ingredient_path %>
